.studentCard {
    position: absolute;
    top: -50px;
    left: -150px;
    z-index: 1;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.3));
    pointer-events: none;
  }
  
  .studentCardImg {
    width: 50%;
    height: auto;
    min-width: 300px;
    transform-origin: bottom left;
    pointer-events: fill;
    cursor: pointer;
    transform: rotate(-75deg);
    will-change: transform;
    pointer-events: all;
  }

@media screen and (max-width: 768px) {
    .studentCard {
        top: 300px;
      } 
}